ldSearchDirs.ld
.goutput*
*.[oas]
*.ekf
*.ekfs
*.zxe
bochsrc*
*.bz2
tmp
flp
hdd
fat
foo
*.tmp
*.swp
.bochsrc
*.iso
*~
*.zudi-index
*.geany
cscope.out
/b
/b-*
/*-b

# Autotools
aclocal.m4
autom4te.cache/
/autotools-aux/
configure
Makefile.vars
Makefile
Makefile.in
include/config.h*
include/stamp-h*
confdefs.h

# Ignore 3rd party source we're scanning while building features
docs/3rdParty
