ldSearchDirs.ld
.goutput*
*.[oas]
*.ekf
*.ekfs
*.zxe
iso
bochsrc*
*.bz2
tmp
flp
hdd
fat
foo
*.tmp
*.swp
.bochsrc
*.iso
*~
*.zudi-index
*.geany
cscope.out
b

# Autotools
aclocal.m4
autom4te.cache/
/autotools-aux/
configure
config.log
config.status
Makefile.vars
Makefile
Makefile.in
include/config.h*
include/stamp-h*
confdefs.h
